<!-- <button id=Button ng-click="showRecords()">ShowRecords</button> -->


<div class="container">
	<div class = "row vdivide">
		<div class='col-sm-12 text-center'>
			<h2>Add Setup Details</h2>
			<hr>		
		</div>	
	</div>
</div>

<div class="container" >
  <div class="row vdivide">
    <div class="col-sm-5 text-right">
    	<h4>Hardware Details - QCI1618A2O2</h4>
		Serial: <input type="text" ng-model ="serial_number" ng-enter="getSearchQueryParameters('serial_number',serial_number)"><br/>
		Cores: <input type="text" ng-model="processedHardwareDetails[0]['cores']" ng-disabled="serial_number"><br/>
		RAM: <input type="text" ng-model="processedHardwareDetails[0]['ram']" ng-disabled="serial_number" ><br/>
		Hard Disk: <input type="text"  ng-model="processedHardwareDetails[0]['hard_disk']" ng-disabled="serial_number"><br/>
	</div>
    <div class="col-sm-4 text-right">
    	Search: <button id="search" ng-click = "getSearchQueryParameters('serial_number',serial_number)" ng-disabled = "!serial_number">Search...</button><br/>
		Manufacturer: <input type="text" ng-model="processedHardwareDetails[0]['manufacturer']" ng-disabled="serial_number"><br/>
		Hardware Type: <input type="text" ng-model="processedHardwareDetails[0]['hardware_type']" ng-disabled="serial_number"><br/>
		Management IP: <input type="text" ng-model="processedHardwareDetails[0]['management_ip']" ng-disabled="serial_number" ><br/>
		Profile Name (CISCO): <input type="text" ng-model="processedHardwareDetails[0]['profile_name']" ng-disabled="serial_number"><br/>
	</div>
  </div>
</div>
<hr>
<div class="container" ng-init = "getProjects()" >
  <div class="row vdivide">
    <div class="col-sm-5 text-right">
    	<h4>Base Machine Details</h4>
    	<!-- ng-change="vm.onTypeChange(vm.selectedtype)" -->
    	Projects: <select class='dropdown-list-style'
				style="height: 25px; vertical-align: middle"
				ng-model="project.project_name"
				ng-change="onProjectChange(project.project_name,processedHardwareDetails)"
				ng-options="project as project.project_name for project in processedProjectDetails track by project.project_name">
		</select><br/>
		Setup Name: <input type="text" ng-model="processedHardwareDetails[0]['setup_name']" ng-disabled="disable"><br/>
		VM Host: <input type="text" ng-model="processedHardwareDetails[0]['vm']" ng-disabled="disable"><br/>
	</div>
    <div class="col-sm-4 text-right">
    	<h4><button id=edit ng-click="saveRow(processedHardwareDetails[0])" ng-disabled="disableSaveButton">Save</button></h4>
    	Base OS IP: <input type="text" ng-model="processedHardwareDetails[0]['base_os_ip']" ng-disabled="disable"><br/>
		Base OS Username: <input type="text" ng-model="processedHardwareDetails[0]['base_os_username']" ng-disabled="disable"><br/>
		Base OS Password: <input type="text" ng-model="processedHardwareDetails[0]['base_os_password']" ng-disabled="disable"><br/>
    </div>
  </div>
</div>
<hr>
<div class="container" ng-hide="hideSetupDiv">
  <div class="row vdivide">
    <div class="col-sm-4 text-right">
    	<h4>Setup Details</h4>
	</div>
    <div class="col-sm-4 text-right">
    	<h4><button id=edit ng-click="getSetupDetails('serial_number',serial_number)">Refresh</button></h4>
    </div>
  </div>
</div>


<div class="container-fluid" ng-hide="hideSetupDiv" >
  <div class="row vdivide no-gutter">
    <div class="col-xs-10  no-gutter text-center">
    	<!-- <p class="col-xs-3 text-center" type="text" style="font-size:11px" >serial_number</p>
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >project_name</p> -->
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >setup_ip</p>
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >cores</p>
	<!-- </div>
	<div class="col-xs-2 no-gutter text-center"> -->
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >ram</p>
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >hard_disk</p>
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >role</p>
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >vip</p>
	<!-- </div>
	<div class="col-xs-2 text-center no-gutter"> -->
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >storage_size</p>
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >storage_ip</p>
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >si_name</p>
	<!-- </div>
	<div class="col-xs-3 text-center no-gutter"> -->
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >storage_target_ip</p>
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >created_by</p>
    	<p class="col-xs-1 text-center" type='text' style="font-size:11px" >Comments</p>
    	<!-- <p class="col-xs-4 text-center" type='text' style="font-size:11px" >vm_id</p> -->
	</div>
	<div class="col-xs-2 text-center no-gutter">
    	<!-- <p class="col-xs-6 text-center" type='text' style="font-size:11px" >Comments</p> -->
    	<button class="col-xs-3 text-center" style="font-size:9px">Save</button>
    	<button class="col-xs-3 text-center" style="font-size:9px">Delete</button>
	</div>
  </div>
</div>



<div class="container-fluid" ng-repeat = "row in processedSetupDetails" ng-hide="hideSetupDiv" >
  <div class="row vdivide no-gutter">
    <div class="col-xs-10  no-gutter text-center">
    	<!-- <input class="col-xs-3 text-center" type="text" style="font-size:11px" ng-model="row['serial_number']" ng-disabled = "false" />
    	<input class="col-xs-3 text-center" type='text' style="font-size:11px" ng-model ="row['project_name']" ng-disabled = "false" /> -->
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['setup_ip']" />
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['cores']" />
	<!-- </div>
	<div class="col-xs-2 no-gutter text-center"> -->
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['ram']" />
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['hard_disk']" />
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['role']" />
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['vip']" />
	<!-- </div>
	<div class="col-xs-2 text-center no-gutter"> -->
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['storage_size']" />
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['storage_ip']" />
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['storage_initiator_name']" />
	<!-- </div>
	<div class="col-xs-3 text-center no-gutter"> -->
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['storage_target_ip']" />
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['created_by']" />
    	<input class="col-xs-1 text-center" type='text' style="font-size:11px" ng-model ="row['comments']" />
    	<!-- <input class="col-xs-4 text-center" type='text' style="font-size:11px" ng-model ="row['vm_id']" ng-disabled = "false" /> -->
	</div>
	<div class="col-xs-2 text-center no-gutter">
    	
    	<button class="col-xs-3 text-center" ng-click = "saveSetupRow(row)" >S</button>
    	<button class="col-xs-3 text-center" ng-click = "deleteSetupRow(row)" >X</button>
	</div>
  </div>
</div>





