<!-- <button id=Button ng-click="showRecords()">ShowRecords</button> -->


<div class="container">
	<div class = "row vdivide">
		<div class='col-sm-12 text-center'>
			<h2>Add Setup Details</h2>
			<hr>		
		</div>	
	</div>
</div>

<div class="container">
  <div class="row vdivide">
    <div class="col-sm-5 text-right">
    	<h4>Hardware Details</h4>
		Serial: <input type="text" ng-model="serialnumber" ng-enter="showRecords()"><br/>
		Cores: <input type="text" ng-model="processedHardwareDetails['cores']" ng-disabled="serialnumber"><br/>
		RAM: <input type="text" ng-model="processedHardwareDetails['ram']" ng-disabled="serialnumber" ><br/>
		Hard Disk: <input type="text"  ng-model="processedHardwareDetails['storage_size']" ng-disabled="serialnumber"><br/>
	</div>
    <div class="col-sm-4 text-right">
    	<h4>...</h4>
		Manufacturer: <input type="text" ng-model="manufacturer" ng-disabled="serialnumber"><br/>
		Hardware Type: <input type="text" ng-model="hardwaretype" ng-disabled="serialnumber"><br/>
		Management IP: <input type="text" ng-model="processedHardwareDetails[0]['Bare_Metal_IP']" ng-disabled="serialnumber" ><br/>
		Profile Name (CISCO): <input type="text" ng-model="profilename" ng-disabled="serialnumber"><br/>
	</div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row vdivide">
    <div class="col-sm-5 text-right">
    	<h4>Base Machine Details</h4>
		Project: <input type="text" ng-model="project"><br/>
		Setup Name: <input type="text" ng-model="setupname"><br/>
		VM Host: <input type="text" ng-model="vmhost"><br/>
	</div>
    <div class="col-sm-4 text-right">
    	<h4><button id=edit ng-click="showRecords()">Edit/Save</button></h4>
    	Base OS IP: <input type="text" ng-model="baseosip"><br/>
		Base OS Username: <input type="text" ng-model="baseosusernmae"><br/>
		Base OS Password: <input type="text" ng-model="baseospassword"><br/>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row vdivide">
    <div class="col-sm-4 text-right">
    	<h4>Setup Details</h4>
	</div>
    <div class="col-sm-4 text-right">
    	<h4><button id=edit ng-click="addNewRow()">Add New Row</button></h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row vdivide">
    <div class="col-sm-2 text-center">
    	<h4>IP</h4>
	</div>
    <div class="col-sm-1 text-center">
    	<h4>Role</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>Cores</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>RAM</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>Storage Size</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>Storage IP</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>Storage Interior Name</h4>
	</div>
	<div class="col-sm-2 text-center">
    	<h4>Storage Target IP</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>Actions</h4>
	</div>
  </div>
</div>


<div class="container" ng-repeat = "row in processedSetupDetails" >
  <div class="row vdivide">
    <div class="col-sm-2 text-center">
    	<input type="text" ng-model="row['setup_ip']">
	</div>
    <div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['role']">
	</div>
	<div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['cores']">
	</div>
	<div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['ram']">
	</div>
	<div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['storage_size']">
	</div>
	<div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['storage_ip']">
	</div>
	<div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['storage_initiator_name']">
	</div>
	<div class="col-sm-2 text-center">
    	<input type="text" ng-model="row['storage_target_ip']">
	</div>
	<div class="col-sm-2 text-center">
    	<button ng-click = "editRow(row)" >Edit</button>
    	<button ng-click = "saveRow(row)" >Save</button>
    	<button ng-click = "deleteRow(row)" >Delete</button>
	</div>
  </div>
</div>


<div class='chartbody' id = 'chartBodyID'>
	<script src="Scripts/d3.min.js"></script> 
      <!--tooltip in d3-->
    <script src="Scripts/d3.tip.v0.6.3.js"></script>
	<script src="components/SlickGrid/lib/firebugx.js"></script>
	<script src="components/SlickGrid/lib/jquery-1.7.min.js"></script>
    <script src="components/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="components/SlickGrid/lib/jquery.event.drag-2.2.js"></script>
    <!--  // <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script> -->
    <script src="components/SlickGrid/lib/jquery.event.drop-2.2.js"></script>
    <script src="components/SlickGrid/slick.core.js"></script>
    <script src="components/SlickGrid/plugins/slick.cellrangeselector.js"></script>
    <script src="components/SlickGrid/plugins/slick.cellselectionmodel.js"></script>
    <script src="components/SlickGrid/plugins/slick.rowselectionmodel.js"></script>
    <script src="components/SlickGrid/plugins/slick.autotooltips.js"></script>
    <script src="components/SlickGrid/slick.formatters.js"></script>
    <script src="components/SlickGrid/slick.editors.js"></script>
    <script src="components/SlickGrid/slick.grid.js"></script>
    <script src="components/SlickGrid/slick.compositeeditor.js"></script>

	<hr>
	<hr>
	<div id="myGrid" />
</div>