<!-- <button id=Button ng-click="showRecords()">ShowRecords</button> -->


<div class="container">
	<div class = "row vdivide">
		<div class='col-sm-12 text-center'>
			<h2>Add Setup Details</h2>
			<hr>		
		</div>	
	</div>
</div>

<div class="container" >
  <div class="row vdivide">
    <div class="col-sm-5 text-right">
    	<h4>Hardware Details - QCI1618A2O2</h4>
		Serial: <input type="text" ng-model ="serial_number" ng-enter="getSearchQueryParameters('serial_number',serial_number)"><br/>
		Cores: <input type="text" ng-model="processedHardwareDetails[0]['cores']" ng-disabled="serial_number"><br/>
		RAM: <input type="text" ng-model="processedHardwareDetails[0]['ram']" ng-disabled="serial_number" ><br/>
		Hard Disk: <input type="text"  ng-model="processedHardwareDetails[0]['hard_disk']" ng-disabled="serial_number"><br/>
	</div>
    <div class="col-sm-4 text-right">
    	Search: <button id="search" ng-click = "getSearchQueryParameters('serial_number',serial_number)" >Search...</button>
		Manufacturer: <input type="text" ng-model="processedHardwareDetails[0]['manufacturer']" ng-disabled="serial_number"><br/>
		Hardware Type: <input type="text" ng-model="processedHardwareDetails[0]['hardware_type']" ng-disabled="serial_number"><br/>
		Management IP: <input type="text" ng-model="processedHardwareDetails[0]['management_ip']" ng-disabled="serial_number" ><br/>
		Profile Name (CISCO): <input type="text" ng-model="processedHardwareDetails[0]['profile_name']" ng-disabled="serial_number"><br/>
	</div>
  </div>
</div>
<hr>
<div class="container" ng-init = "getProjects()" >
  <div class="row vdivide">
    <div class="col-sm-5 text-right">
    	<h4>Base Machine Details</h4>
    	<!-- ng-change="vm.onTypeChange(vm.selectedtype)" -->
    	<select class='dropdown-list-style'
				style="height: 25px; vertical-align: middle"
				ng-model="project.project_name"
				ng-change="onProjectChange(project.project_name,processedHardwareDetails)"
				ng-options="project as project.project_name for project in processedProjectDetails track by project.project_name">
		</select>
		Setup Name: <input type="text" ng-model="processedHardwareDetails[0]['setup_name']" ng-disabled="disable"><br/>
		VM Host: <input type="text" ng-model="processedHardwareDetails[0]['vm']" ng-disabled="disable"><br/>
	</div>
    <div class="col-sm-4 text-right">
    	<h4><button id=edit ng-click="saveRow(processedHardwareDetails[0])">Edit/Save</button></h4>
    	Base OS IP: <input type="text" ng-model="processedHardwareDetails[0]['base_os_ip']" ng-disabled="disable"><br/>
		Base OS Username: <input type="text" ng-model="processedHardwareDetails[0]['base_os_username']" ng-disabled="disable"><br/>
		Base OS Password: <input type="text" ng-model="processedHardwareDetails[0]['base_os_password']" ng-disabled="disable"><br/>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row vdivide">
    <div class="col-sm-4 text-right">
    	<h4>Setup Details</h4>
	</div>
    <div class="col-sm-4 text-right">
    	<h4><button id=edit ng-click="getSetupDetails(processedHardwareDetails[0]['vm'])">Get Setup Details</button></h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row vdivide">
    <div class="col-sm-2 text-center">
    	<h4>IP</h4>
	</div>
    <div class="col-sm-1 text-center">
    	<h4>Role</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>Cores</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>RAM</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>Storage Size</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>Storage IP</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>Storage Interior Name</h4>
	</div>
	<div class="col-sm-2 text-center">
    	<h4>Storage Target IP</h4>
	</div>
	<div class="col-sm-1 text-center">
    	<h4>Actions</h4>
	</div>
  </div>
</div>


<div class="container"  ng-repeat = "row in processedSetupDetails" >
  <div class="row vdivide">
    <div class="col-sm-2 text-center">
    	<input type="text" ng-model="row['management_ip']">
	</div>
    <div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['role']">
	</div>
	<div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['cores']">
	</div>
	<div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['ram']">
	</div>
	<div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['hard_disk']">
	</div>
	<div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['base_os_ip']">
	</div>
	<div class="col-sm-1 text-center">
    	<input type="text" ng-model="row['storage_initiator_name']">
	</div>
	<div class="col-sm-2 text-center">
    	<input type="text" ng-model="row['storage_target_ip']">
	</div>
	<div class="col-sm-2 text-center">
    	<!-- <button ng-click = "editRow(row)" >Edit</button> -->
    	<button ng-click = "saveSetupRow(row)" >Save</button>
    	<button ng-click = "deleteSetupRow(row)" >Delete</button>
	</div>
  </div>
</div>

