<!-- <button id=Button ng-click="showRecords()">ShowRecords</button> -->


<div class="container">
	<div class = "row vdivide">
		<div class='col-sm-12 text-center'>
			<h2>User Login</h2>
			<hr>		
		</div>	
	</div>
</div>

<div class="container" >
  <div class="row vdivide">
    
		User Name: <input type="text" ng-model ="username" ng-enter="login('username',username,'password',password)"/><br/>
		Password : <input type="password" ng-model ="password" ng-enter="login('username',username,'password',password)"/><br/>
		Password : <button  ng-click="login('username',username,'password',password)"> Sign-in </button><br/>
  </div>
</div>




